{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <p>
            Страница пользователя
        </p>
        <div class="col-md-6 form-admin bottom-admin">
            <p> Имя пользователя: {{ user.username}}</p>
            <p> Роль пользователя:  {{ user.role}}</p>
            <a href="{% url 'auth:edit' %}" class="link">
            <button class="form-control">
                  редактировать
            </button>
            </a>
        </div>
    </div>
{% endblock %}